*.DS_Store
*.sw[po]
*.py[co]
*.out

# Bah, LaTeX junk
*.aux
*.log
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.toc
*.bbl
*.blg
*.bib

client_secret.json
website/
etags.yaml
graphviz-images/
mermaid-images/
env/
cache-dl-images/
build*/
fonts
2018_*
